<main>
    <section class="contacto-cliente">
          <div class="container">
    <div class="row text-center fs-1 text-uppercase justify-content-center">
      <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="container py-5">
            <h2 class="text-capitalize text-decoration-underline">Contactanos</h2>
        </div>
        <div class="card border-dark align-items-center">
            <img class="py-3 " width="100" src="./img/tux.webp" alt="">
            <div class="card-body w-75">
                <form>
  <div class="py-3">
    <label for="exampleInputEmail1" hidden class="form-label">Email address</label>
    <input type="email" autofocus class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email@email.com">
    
  </div>
  <div class="py-3">
    <label for="exampleInputPassword1" hidden class="form-label">Nombre</label>
    <input type="Nombre" placeholder="Nombre" class="form-control" id="exampleNombre">
  </div>

   <div class="py-3">
    <label for="exampleFormControlTextarea1" hidden class="form-label">Mensaje</label>
  <textarea class="form-control" placeholder="dejanos tu consulta..." id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <a class="btn btn-dark" href="/">Enviar</a>
</form>
            </div>
        </div>
        
      </div>
    </div>
  </div>
    </section>
</main>