<main>
  <section class="sesion h-100">
    <div class="container">
      <div class="row text-center fs-1 text-uppercase justify-content-center">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="container py-5">
            <h2 class="text-capitalize text-decoration-underline">Iniciar Sesion</h2>
          </div>
          <div class="card border-dark align-items-center">
            <img
              class="py-3"
              width="100"
              src="./img/tux.webp"
              alt="logo-logueo"
            />
            <div class="card-body w-75">
              <form>
                <div class="py-3">
                  <label
                    for="exampleInputEmail1"
                    hidden
                    class="form-label"
                  >Email address</label>
                  <input
                    type="email"
                    autofocus
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="email@email.com"
                  />

                </div>
                <div class="py-3">
                  <label
                    for="exampleInputPassword1"
                    hidden
                    class="form-label"
                  >Password</label>
                  <input
                    type="password"
                    placeholder="Password"
                    class="form-control"
                    id="exampleInputPassword1"
                  />
                </div>
                <a class="btn btn-dark" href="/usuario">Ingresar</a>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</main>