<section class="registro-usuario h-100">
<div class="container text-center py-5">
    <h3 class="text-decoration-underline ">Registro de usuario</h3>
</div>
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="col-xxl-6 col-lg-6 col-md-12 col-sm-12">
            <div class="card border-dark align-items-center">
                 <img class="py-3 " width="100" src="./img/tux.webp" alt="">
                <div class="card-body w-75">
                     <form>
  <div class="py-3">
    <label for="exampleInputEmail1" hidden class="form-label">Nombre y Apellido</label>
    <input type="text" name="nombre" autofocus class="form-control" id="exampleInputname" aria-describedby="datos-user" placeholder="Nombre y Apellido">
    
  </div>
  <div class="py-3">
    <label for="exampleInputEmail1" hidden class="form-label">dni</label>
    <input type="text" name="dni" class="form-control" id="exampleInputdni" aria-describedby="dni-user" placeholder="Dni">
    
  </div>
    <div class="row">
         <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 py-3">
    <label for="exampleInputEmail1" hidden class="form-label">direccion</label>
    <input type="text" name="direccion" class="form-control" id="exampleInputdireccion" aria-describedby="direccion-user" placeholder="direccion">
    
  </div>
  <div class="col-xxl-6 col-lg-6 col-md-6 col-sm-6 py-3">
    <label for="exampleInputEmail1" hidden class="form-label">altura</label>
    <input type="text" name="altura" class="form-control" id="exampleInputdireccion-altura" aria-describedby="direccion-altura-user" placeholder="altura....">
    
  </div>
    </div>
 
  <div class="py-3">
    <label for="exampleInputPassword1" hidden class="form-label">email</label>
    <input type="email" placeholder="email@email.com" class="form-control" id="email">
  </div>
  <div class="py-3">
    <label for="exampleInputPassword1" hidden class="form-label">Password</label>
    <input type="password" placeholder="Password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="py-3">
    <label for="exampleInputPassword1" hidden class="form-label">Password</label>
    <input type="password" placeholder="Repita Password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="py-3">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
  <label class="form-check-label" for="flexCheckChecked">
    Acepto terminos y condiciones
    </label>
    </div>
  <a class="btn btn-dark" href="/">Registrarse</a>
</form>
                </div>
            </div>
           
        </div>
    </div>
</div>
</section>